.create-block{
    display: grid;
    grid-template-columns: 600px 800px;
    grid-template-rows: 600px 50px;
    width: 100%;
    height: 700px;
    grid-gap: 50px;
    justify-content: center;
     h1{
            margin-bottom: 30px; 
            color: lighten(#763626, 30%);
            text-align: center;
        }
    .trans-pool-part{
        overflow-y: auto;
        border: 1px solid black;
        font-size: 15px;
        background-color: darken(#336B87,20%)  ;
        padding: 5px;
       
        .transaction{
            display: grid;
            grid-template-columns: 100px calc(100% - 100px);
            margin-bottom: 50px;
            color: #90AFC5;
           
            .label{
                 margin-bottom: 2px;
            }
            .value{
                white-space: pre-wrap;
                word-wrap: break-word; 
                margin-bottom: 2px;
                
            }
            .is-valid{
                text-align: center;
            }
        }
    }
    .create-block-part{
        border: 1px solid black;
    }
    .checkAll{
        
    }
}