.create-block{
    display: grid;
    grid-template-columns: 600px 800px;
    width: 100%;
    height: 700px;
    grid-gap: 25px;
    justify-content: center;
     h1{
            margin-bottom: 30px; 
            color: lighten(#763626, 30%);
            text-align: center;
        }
    .trans-pool-part{
        overflow-y: auto;
        border: 1px solid black;
        font-size: 15px;
        background-color: darken(#336B87,20%)  ;
        padding: 5px;
        
        .transaction{
            display: grid;
            grid-template-columns: 100px calc(100% - 100px);
            margin-bottom: 50px;
            color: #90AFC5;
           
            .label{
                 margin-bottom: 2px;
            }
            .value{
                white-space: pre-wrap;
                word-wrap: break-word; 
                margin-bottom: 2px;
                
            }
            .is-valid{
                text-align: center;
                background-color: #007bff;
                border-radius: 20px;
            }
        }
        .valid{
            .is-valid{
                background-color: #28a745;
            }
        }
        .invalid{
            .is-valid{
                background-color: #dc3545;
            }
        }
    }
    .create-block-part{
        border: 1px solid black;
        background: darken(#336B87,20%);
        display: grid;
        grid-template-columns: 130px calc(100% - 130px);
        grid-template-rows: 80px repeat(4, 50px) auto;
        font-size: 15px;
        color: #90AFC5;
        .block-label{
            grid-column: 1 / 3;
        }
        .value{
            word-wrap: break-word;
        }
        .block-transaction{
            border: 1px solid white;
            margin-bottom: 10px;
            padding: 5px;
            .box-value{

            }
        }
    }
    .checkAll{
        justify-self: center;
    }
    .end-button{
        margin: 0 auto;
        padding: 10px auto;
        width: auto;
        left: 300px;
        
    }
}