button{
    width: 100px;
    border-radius: 20px;
    &:hover{
            background-color: darken(#17a2b8,5%);   
        }
}
.create-transaction{
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: repeat(3, 50px) 200px 50px; 
    background-color:#007bff;
    align-self: center;
    justify-self: center;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 40px;
    .create-part{
       justify-self: center;
       height: 50px;
       
    }
    .signature{
        word-wrap: break-word;
        font-size: 13px;
    }
}