.hash-img-main{
    display: grid;
    grid-template-columns: 1000px;
    justify-content: center;
    justify-items: center;
    grid-gap: 10px;
    color: #28a745;
    .hash-button{
        width: 200px;
    }
    .info{
        word-wrap: break-word;
        width: 1000px;
    }
}