.view-chain{
    display: grid;
    grid-gap: 20px;
    width: 100%;
    .header{
        color: #ffc107;
        text-align: center;
        .verify-blockchain{
            width: 200px;
            padding: 5px;
            margin-top: 10px;
        }
    }
    .block-node{
        border: 1px solid black;
        background-color:darken(#336B87,20%);
        width: 1000px;
        justify-self: center;
        padding: 5px;
        .g-block{
            font-size: 25px;
            color: #c35d44;
            text-align: center;
        }
        .info{
            margin-bottom: 2px;
        }
        .error-info{
            background-color: #dc3545;
            width: 300px;
            border: 1px solid black;
            border-radius: 20px;
            margin-left: 350px;
            padding-left: 60px;
        }
        .block-transaction{
            border: 1px solid white;
            margin-bottom: 10px;
            padding: 5px;
            margin-left: 10px;
            font-size: 13px;
        }
    }
}